.body-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .posts-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;

    &.active {
      display: none;
    }
  }
}
